<!-- _includes/sidebar.html -->
<div class="sidenav">

  <a href="{{ '/' | relative_url }}">Home</a>
  <a href="{{ '/pfc.html' | relative_url }}">About Us</a>
  <a href="{{ '/KeyDates.html' | relative_url }}">Key Dates</a>
  <a href="{{ '/PFCEvents.html' | relative_url }}">PFC Events</a>
  <a href="{{ '/Fundraisers.html' | relative_url }}">Fundraisers</a>
  <a href="mailto:holbrookpfcweb@gmail.com">Contact Us</a>
  <a href="https://1stplacespiritwear.com/schools/CA/Concord/Holbrook+Language+Academy/" target="_blank" rel="noopener noreferrer">Store</a>

  <div class="sidebar-items-centered">
    <a href="#">
      <img src="{{ '/assets/images/donate.png' | relative_url }}" alt="Donate Now" class="sidebar-donate-button">
    </a>

    <a href="https://www.facebook.com/holbrookpfcclub/" target="_blank" rel="noopener noreferrer">
      <img src="{{ '/assets/images/fb_logo.png' | relative_url }}" alt="Find us on Facebook" class="sidebar-social-icon">
    </a>

    <img class="sidebar-image" src="{{ '/assets/images/jet.jpg' | relative_url }}" alt="Holbrook Jets Mascot">
  </div>

</div>
