// _sass/_sidebar.scss

@use 'variables' as *;

.sidenav {
  height: 100%;
  width: $sidebar-width; // Use variable
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: $secondary-color; // Use variable
  overflow-x: hidden;
  padding-top: 20px;

  // --- NESTING ---
  a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: $font-size-large; // Use variable
    color: $text-color-light; // Use variable
    display: block;

    &:hover { // The '&' refers to the parent selector ('a')
      color: $text-color-light-hover; // Use variable
    }

    &.active {
      color: $primary-color;
      font-weight: bold;
    }
  }
}

// Styles for the main content area that depend on the sidebar
.main {
  margin-left: $sidebar-width; // Use variable
  padding: 6px 6px 6px 32px;
}

// Nesting the media query makes it clear what it affects
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
    a {
      font-size: $font-size-medium; // Use variable
    }
  }
}

.sidebar-items-centered {
  text-align: center;
  margin-top: 20px;
}

.sidebar-donate-button {
  height: 100px;
  width: auto;
  margin-bottom: 15px;
}

.sidebar-social-icon {
  width: 30px;
  height: auto;
  margin-bottom: 15px;
}
