// _sass/_variables.scss

// 1. Colors
$primary-color: #FF9B01; // Your main orange
$secondary-color: #563337; // Your sidebar brown/purple
$text-color-light: #ffffff;
$text-color-light-hover: #f1f1f1;
$border-color: #ffffff;
$table-stripe-color: #dddddd;
$box-shadow-color: #bbbbbb;

// 2. Fonts
$font-family-base: "Lato", sans-serif;
$font-family-special: verdana, sans-serif;
$font-size-base: 16px;
$font-size-large: 20px;
$font-size-medium: 18px;

// 3. Layout & Sizing
$sidebar-width: 200px;
